<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%= contestant.id %>">
  Add Points
</button>

<!-- Modal -->
<div class="modal fade" id="modal-<%= contestant.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Add Points for <%= contestant.name %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5>Enter number of times each action ocurred. Point value per ocurrence listed in ( ).</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <%= form_for (weekly_score) do |f|  %>
              <%= f.hidden_field :contestant_id, :value => contestant.id, :name => "weekly_score[contestant_id][]"%>
              <%= f.hidden_field :week_id, :value => week.id, :name => "weekly_score[week_id][]"%>
              <% week.plays.each do |play| %>
              <div class="col-md-6 play-<%= play.id %> text-left">
                <label><%= f.text_field :play_count, :name => "weekly_score[plays][#{play.id}][]", :size=>"2" %></label>
                <%= play.description %> (<%= play.point_value %>)<br>
              </div>
              <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save Changes", :class => "btn btn-primary save-button" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
