<h1 class = page-header><span>League Really Great League </span><span class = "season-title">Nick's Season</span></h1>
<br>
<!-- chart -->
<h3 class = "text-center">League Overview</h3>
<%= line_chart(
    @users.map do |user|
      { :name => user.team_name,
        :data => user.season_progression}
    end,
    colors: ["#fe5f55", "#0fa3b1", "#ff9b42", "#777DA7"],
    curve: false,
    legend: "bottom",
    xtitle: "Weeks",
    ytitle: "Total Points"
)  %><br><br><br>

<!-- table -->
<div class="table-responsive">
<h3 class = "text-center">Weekly Scoring Breakdown</h3>
<table class="table table-bordered ">
  <thead>
    <tr>
      <% 13.times do |i| %>
      <th class = "text-center"><%= ("Episode #" if i == 0) || (link_to i, "/weeks/#{i}") %></th>
      <% end %>
      <th class = "text-center">Season</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= link_to user.team_name, user %></th>
      <% 12.times do |i| %>
        <td class = "text-center"> <%= user.week_points(i+1) %></td>
      <% end %>
      <td class = "text-center"> <%= user.season_points %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
