<div class = "page-header"><h2 class = "team-name">Team <%= @user.team_name %></h2>
  <% if @user.admin? && current_admin? %>
<span class="label label-info" id = "admin">Admin</span>
<% end %>
<% if @user == current_user || current_admin? %>
<span class="admin-buttons">
  <%= link_to "Edit Account", edit_user_path(@user), :class =>"btn btn-success" %>
  <%= link_to "Delete Account", user_path(@user), method: :delete, :class =>"btn btn-danger"%>
</span>
<% end %>
</div><br>
<div class="table-responsive">

<h3 class = "text-center">Season Summary</h3>

<table class="table table-bordered ">
  <thead>
    <tr>
      <% 13.times do |i| %>
      <th class = "text-center"><%= ("Episode #" if i == 0) || i %></th>
      <% end %>
      <th class = "text-center">Season</th>
    </tr>
  </thead>
  <tbody>
  <% @user.contestants.each do |contestant| %>
    <tr>
      <th scope="row"><%= contestant.name %></th>
      <% 12.times do |i| %>
        <td class = "text-center"> <%= contestant.weekly_points(i+1) %></td>
      <% end %>
      <td> <%= contestant.season_points %> </td>
    </tr>
  <% end %>
  <tr class = "table-active">
    <th scope="row">Total</th>
    <% 13.times do  %>
      <td class = "text-center"> <%= rand(1..100) %></td>
    <% end %>
  </tr>
  </tbody>
</table>
</div>
