<h1>Team <%= @user.team_name %></h1>
<%= (link_to "Edit", edit_user_path(@user)) if @user == current_user %>

<h4><%= "Admin" if @user.admin? %></h4>

<h3>Players:</h3>
<% @user.contestants.each do |contestant| %>
<%= contestant.name %>
<!-- make link -->
<%= contestant.total_score %>
<% end %>
