<!DOCTYPE html>

<% if current_page?(login_path) %>
  <html class="full" lang="en">
<% else %>
  <html>
<% end %>
  <head>
    <title>FantasyBachelor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type = "text/css" href="master.css">
<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Chivo|Convergence|Montserrat+Alternates|Quicksand:400,700" rel="stylesheet">
  <body id="bootstrap-override">
    <% unless current_page?(login_path) %>
      <%= render partial: "/layouts/default_user_navbar" %>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

<%= yield %>
  </body>
</html>
